In [9]:
import pandas as pd, numpy as np

In [15]:
df = pd.DataFrame(
    data=np.random.rand(10, 3),
    columns=['A', 'B', 'D']
)

In [16]:
df.to_csv("/home/venky/Projects/kedro-learn/data/01_raw/ds-21.csv")

In [17]:
df.round(1)

     A    B    D
0  0.8  0.6  0.3
1  0.3  0.6  0.6
2  0.6  0.0  1.0
3  0.2  0.2  0.7
4  0.2  0.3  0.7
5  0.9  0.9  0.0
6  0.6  0.5  0.8
7  0.8  0.4  0.5
8  0.1  0.8  0.6
9  0.9  0.8  0.6

In [22]:
set([1,2,3,4,5]).difference([1,2,3])

{4, 5}

In [31]:
d = {
    'a':1,
    'b':True,
    'c':'aaa',
    'd':[1,2,3]
}

for k,v in d.items():
    d[k] = [v]

pd.DataFrame.from_dict(d)

   a     b    c          d
0  1  True  aaa  [1, 2, 3]

In [10]:
import boto3, yaml

In [11]:
cred = "../conf/local/credentials.yml"
with open(cred, 'r') as cred_file:
    creds = yaml.safe_load(cred_file)

In [12]:
session = boto3.Session(
    aws_access_key_id=creds['dev_s3']['key'],
    aws_secret_access_key=creds['dev_s3']['secret'],
    region_name=creds['dev_s3']['default-region'],
)

In [31]:
ddb = session.resource('dynamodb')

In [32]:
list(ddb.tables.all())

[dynamodb.Table(name='model-performance-metrics')]

In [35]:
table = ddb.Table('model-performance-metrics')

In [41]:
dict(
    a = 1,
    b = 3
)

{'a': 1, 'b': 3}

In [33]:
def put_item(table,item):
    res = table.put_item(
        Item=item
    )
    return res

In [37]:
put_item(table, {
        "model_id":1,
        "model_run_dt":"2/3/2021",
        "newcol1":"3"
    })

{'ResponseMetadata': {'RequestId': 'HA4OQKUUQPQBDU82DVDT6LTV6VVV4KQNSO5AEMVJF66Q9ASUAAJG',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'server': 'Server',
   'date': 'Wed, 06 Sep 2023 20:37:55 GMT',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '2',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'HA4OQKUUQPQBDU82DVDT6LTV6VVV4KQNSO5AEMVJF66Q9ASUAAJG',
   'x-amz-crc32': '2745614147'},
  'RetryAttempts': 0}}

In [16]:
filepath = "s3://kedro-model-outputs/data/06_models/model_ds-11"

In [13]:
s3 = session.client('s3')

In [20]:
s3.upload_file(
    "../data/06_models/model_ds-11.keras",
    'kedro-model-outputs',
    f"{'/'.join(filepath.split('/')[3:])}.keras"
)

In [21]:
d = {
    'r1': {'c1': 'v1', 'c2': 'v1', 'c3': 'v1'},
    'r2': {'c1': 'v2', 'c2': 'v2', 'c3': 'v2'},
    'r3': {'c1': 'v3', 'c2': 'v3', 'c3': 'v3'}
}

In [24]:
pd.DataFrame.from_dict(d, orient='index')

    c1  c2  c3
r1  v1  v1  v1
r2  v2  v2  v2
r3  v3  v3  v3

In [26]:
np.arange(2, 12, 1).shape

(10,)

In [27]:
np.ones_like(np.arange(2, 12, 1))

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [42]:
from tensorflow.keras.metrics import kl_divergence, mae

2023-09-06 21:08:12.529901: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [44]:
mae(
    np.arange(0, 20, 2),
    np.arange(0, 10, 1)
)

2023-09-06 21:08:49.523043: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1639] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 22817 MB memory:  -> device: 0, name: NVIDIA TITAN RTX, pci bus id: 0000:65:00.0, compute capability: 7.5