In [1]:
import pandas as pd, numpy as np

In [15]:
df = pd.DataFrame(
    data=np.random.rand(10, 3),
    columns=['A', 'B', 'D']
)

In [16]:
df.to_csv("/home/venky/Projects/kedro-learn/data/01_raw/ds-21.csv")

In [17]:
df.round(1)

     A    B    D
0  0.8  0.6  0.3
1  0.3  0.6  0.6
2  0.6  0.0  1.0
3  0.2  0.2  0.7
4  0.2  0.3  0.7
5  0.9  0.9  0.0
6  0.6  0.5  0.8
7  0.8  0.4  0.5
8  0.1  0.8  0.6
9  0.9  0.8  0.6

In [22]:
set([1,2,3,4,5]).difference([1,2,3])

{4, 5}

In [31]:
d = {
    'a':1,
    'b':True,
    'c':'aaa',
    'd':[1,2,3]
}

for k,v in d.items():
    d[k] = [v]

pd.DataFrame.from_dict(d)

   a     b    c          d
0  1  True  aaa  [1, 2, 3]

In [37]:
import boto3, yaml

In [39]:
cred = "../conf/local/credentials.yml"
with open(cred, 'r') as cred_file:
    creds = yaml.safe_load(cred_file)

In [42]:
session = boto3.Session(
    aws_access_key_id=creds['dev_s3']['key'],
    aws_secret_access_key=creds['dev_s3']['secret'],
    region_name=creds['dev_s3']['default-region'],
)

In [57]:
ddb = session.resource('dynamodb')

In [58]:
list(ddb.tables.all())

[dynamodb.Table(name='python-api-test')]

In [59]:
table = ddb.Table('python-api-test')

In [64]:
def put_item(table,item):
    res = table.put_item(
        Item=item
    )
    return res

In [68]:
put_item(table, {
        "primarykey":"1",
        "sortkey":"2",
        "newcol1":"3"
    })

{'ResponseMetadata': {'RequestId': 'AHUN5A8PRPPJP72V9KP20CCU4FVV4KQNSO5AEMVJF66Q9ASUAAJG',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'server': 'Server',
   'date': 'Thu, 31 Aug 2023 18:07:37 GMT',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '2',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'AHUN5A8PRPPJP72V9KP20CCU4FVV4KQNSO5AEMVJF66Q9ASUAAJG',
   'x-amz-crc32': '2745614147'},
  'RetryAttempts': 0}}